<h1>Upsert Plantilla</h1>

<form method="post">
    <label>Hospital</label>
    <input type="text" name="hospitalcod" class="form-control"/>
    <label>Sala</label>
    <input type="text" name="salacod" class="form-control" />
    <label>Empleado</label>
    <input type="text" name="empleadono" class="form-control" />
    <label>Apellido</label>
    <input type="text" name="apellido" class="form-control" />
    <label>Funcion</label>
    <input type="text" name="funcion" class="form-control" />
    <label>Turno</label>
    <input type="text" name="turno" class="form-control" />
    <label>Salario</label>
    <input type="text" name="salario" class="form-control" />
    <button class="btn btn-success">Upsert</button>
</form>

<h2>@ViewData["MENSAJEUP"]</h2>